@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font family: AeionMono */
@font-face {
  font-family: 'AeionMono';
  src: url('./fonts/AeionMonoVariableTest-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AeionMono';
  src: url('./fonts/AeionMonoVariableTest-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AeionMono';
  src: url('./fonts/AeionMonoVariableTest-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Apply AeionMono font to body */
@layer base {
  body {
    @apply font-aeion; /* Assuming font-aeion is defined in your Tailwind config */
  }
}
